/* ================================ */
/* MOBILE FIRST STYLES              */
/* ================================ */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  position: relative;
}

html {
  scrollbar-gutter: stable;
}

.nav-header {
  color: var(--SecondaryGray-SecondaryText-SecondaryGray80, #767676);
  font-weight: 500;
}

.page-title {
  font-size: clamp(18px, 2.2vw, 28px);
  color: var(--PrimaryColor-Blue70, #185baa);
  font-weight: 600;
  margin-bottom: 32px;
}

h3 {
  font-size: clamp(16px, 1.6vw, 20px);
  color: var(--PrimaryColor-Blue70, #185baa);
  font-weight: 500;
  margin-bottom: 16px;
}

/* Mobile Navigation Button */
.mobile-nav-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  background: transparent;
  border: none;
  font-size: 14px;
  color: #666;
}

.mobile-nav-btn span:last-child {
  font-size: 14px;
  color: #666;
}

.burger {
  width: 22px;
  height: 2px;
  background: #333;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  background: #333;
  left: 0;
  border-radius: 2px;
}

.burger::before {
  top: -6px;
}

.burger::after {
  top: 6px;
}

/* Mobile Modal */
.mobile-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 999;
}

.mobile-modal .panel {
  background: #fff;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.mobile-panel h3 {
  margin-top: 0;
}

.mobile-modal ul {
  list-style: none;
  padding-left: 0;
}

.mobile-modal li {
  margin-bottom: 10px;
}

/* Content Wrapper */
.layout {
  padding: 20px;
}

.content {
  background: #fff;
  border-radius: 6px;
}

.content img {
  width: 100%;
}

.desktop.sidebar {
  display: none;
}

.nav-link {
  color: var(--SecondaryGray-SecondaryText-SecondaryGray80, #767676);
  font-size: 14px;
  font-weight: 400;
}

.nav-link.active {
  color: var(--PrimaryColor-Blue70, #185baa);
  font-weight: 500;
}

.sidebar .nav-link.active,
.mobile-modal .nav-link.active {
}

.tab-btn {
  color: var(--SecondaryGray-SecondaryText-SecondaryGray80, #767676);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.333%;
  letter-spacing: 0.15px;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.tab-btn.active {
  color: var(--PrimaryColor-Blue70, #185baa);
  text-decoration: underline;
}

.install-tabs {
  margin: 32px 0;
  display: flex;
  gap: 16px;
}

.tab-content :is(ol, ul),
.content :is(ol, ul) {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 16px;
}

.important-note {
  background: #f5f5f5;
  padding: 24px;
}

.content a {
  color: #337ab7;
  text-decoration: underline;
}

/* ================================ */
/* DESKTOP STYLES                   */
/* ================================ */

@media (min-width: 900px) {
  .mobile-nav-btn {
    display: none;
  }

  .mobile-modal {
    display: none !important;
  }

  .page-title {
    font-weight: 500;
  }
  .layout {
    display: flex;
    max-width: 1400px;
    /* margin: 0 auto; */
    padding: 0;
    margin-top: 0;
  }

  /* Sidebar */
  .desktop.sidebar {
    display: block;
    width: 300px;
    background: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .sidebar h3 {
    margin-top: 0;
  }

  .sidebar ul {
    padding-left: 16px;
    list-style-type: none;
  }

  .sidebar li {
    margin-bottom: 8px;
  }

  /* Desktop Content */
  .content {
    flex: 1;
    margin: 20px;
    padding: 0 30px 30px;
    max-width: 800px;
  }
}

/* Bottom Sheet */
.bottom-sheet {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 70%;
  max-height: 500px;
  background: #fff;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  padding: 20px;
  transition: bottom 0.35s ease;
}

.bottom-sheet.open {
  bottom: 0;
}

.drag-handle {
  width: 45px;
  height: 5px;
  background: #ccc;
  border-radius: 5px;
  margin: 0 auto 15px;
}
